/* 
Variables 
*/
/* ---- Colors ----- */
$black: #000;
$turq: #007b7d;
$lightturq: #7fbdbe;   //rgba(255,255,255,.6);
$white: #fff;
$lightgrey: #e4e4e4;
$lightergrey: #ededed;

$basefontsize: 20px;
$secondaryfontsize: 16px;

$h1-font-size: 2em;
$h2-font-size: 1.8em;
$h3-font-size: 1.5em;
$h4-font-size: 1em;
$h5-font-size: 0.9em;
$h6-font-size: 0.8em;

$textcolor: #1c1c1c;
$menubordercolor: #adadad;
$navfootercolor: #121212;
$headerfont: 'Open Sans', sans-serif;
